@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
body {
    font-family: "Dancing Script", cursive;
    text-align: center;
    line-height: 30px;
    background-color: #9AA8A8;
    border:3px inset black ;
}

img  {
width:200px;
height:200px ;
text-align:center;
border-radius: 75px;

}

h1{ font-size: 75px;   
}


h2{ font-size: 45px;    
}

 p {font-size:25px ;

}
footer {
    background:black ;
    color: beige;
    border-radius:75px ;
    text-align:75px ;
}
.cat{
    width:50px ;
    height:50px ;
}

nav {display: flex;
justify-content: space-around;}

nav a {
    color:black;
text-decoration:none ;font-size:20px;
}
